@use "src/styles/colors.module";
@use "src/styles/media";
@use "src/styles/mixins";

.pairLogos {
  display: flex;
  align-items: center;
  gap: 10px;

  @include media.for-mobile {
    gap: 4px;
  }
}

.secondToken {
  transform: translateX(-4px);
}

.tokensInfo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.blockHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  @include media.for-mobile {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 8px;
  }
}

.tabs {
  display: flex;
  gap: 4px;
}

.tabContent {
  padding-top: 6px;
  padding-bottom: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.firstImageToken,
.secondImageToken {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: 0.7;
  border: 2px solid colors.$border-primary;
  overflow: hidden;

  transition-duration: 0.3s;

  &:hover {
    opacity: 1;
  }

  &[disabled] {
    pointer-events: none;
  }

  &.active {
    opacity: 1;
    border: 2px solid colors.$palette-green;
  }
}

.chartContainer {
  position: relative;
  height: 498px;

  @include media.for-mobile {
    height: unset;
    min-height: 200px;
  }
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.priceChange {
  height: 30px;
  padding: 2px 10px;
  border-radius: 8px;

  &.green {
    background-color: colors.$transparent-primary;
    color: colors.$palette-green;
  }

  &.red {
    background: rgba(205, 21, 21, 0.1);
    color: colors.$palette-red;
  }

  @include media.for-mobile {
    @include mixins.t-body-12;
    height: 24px;
    padding: 5px 6px;
  }
}

.chartSettings {
  display: flex;
  align-items: center;
  gap: 22px;

  @include media.for-mobile {
    justify-content: space-between;
    gap: unset;
    width: 100%;
  }
}

.viewButtons {
  display: flex;
  gap: 2px;
  padding: 2px;
  border: 1px solid #D4DDD8;
  border-radius: 4px;

  button {
    color: colors.$palette-grey-light;
    padding: 0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;

    transition-duration: 0.2s;

    &:hover:not(.active) {
      background-color: colors.$transparent-primary;
    }

    &.active {
      background-color: colors.$palette-green;
      color: colors.$palette-white;
    }
  }
}

.tooltip {
  padding: 16px 20px;
}

.tokenPrice {

}
