@use "../../../shared/styles/colors.module";
@use "../../../shared/styles/mixins";
@use "../../../shared/styles/media";

.pickTokenDialog {
  width: 480px;
  padding: 38px 40px 0;

  @include media.for-mobile {
    padding: 8px 16px 0;
    width: 100%;
  }
}

.tokensList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 300px;
}


.searchToken {
  border-radius: 8px;
  border: 1px solid colors.$border-primary;
  height: 60px;
  padding: 0 20px;
  width: 100%;
  background: colors.$background-secondary;
  color: colors.$text-primary;

  transition-duration: 0.2s;
  outline: 0;

  &:hover:not(&:focus) {
    background: colors.$hover-secondary;
  }

  &:focus,
  &:active {
    border: 1px solid colors.$palette-green;
    background-color: colors.$background-secondary;
  }

  @include media.for-mobile {
    height: 40px;
  }
}

.searchTokenWrapper {
  position: relative;
  margin-bottom: 9px;
  color: colors.$text-secondary;

  .searchIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 19px;
  }

  @include media.for-mobile {
    margin-top: 16px;
  }
}

.baseTokens {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.baseTokenButton {
  height: 40px;
  background: colors.$background-secondary;
  color: colors.$text-primary;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  width: 100%;
  transition-duration: 0.2s;

  &:hover {
    background-color: colors.$hover-secondary;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.noSearch {
  margin-top: 42px;
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4 {
    margin-top: 10px;
    margin-bottom: 4px;
    color: colors.$text-secondary;
    @include mixins.t-body-24;
  }

  p {
    color: colors.$text-secondary;
    @include mixins.t-body-16;
  }

  text-align: center;

  svg {
    color: colors.$palette-green;
  }
}

.bigIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(311.09deg, #F5F3FC 0%, #F8FAFF 52.68%, #F6FDEF 99%);
  border-radius: 20px;
  width: 120px;
  height: 120px;
}

.tokensUl {
  margin-bottom: 40px;
}
