@use "../../../styles/colors.module";
@use "../../../styles/mixins";
@use "src/styles/media";

.pickTokenDialog {
  width: 480px;
  padding: 38px 40px 20px;

  @include media.for-mobile {
    padding: 8px 16px 0;
    width: 100%;
  }
}

.tokensList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 300px;
  overflow: scroll;
}

.searchToken {
  border-radius: 8px;
  border: 1px solid colors.$border-primary;
  height: 60px;
  padding: 0 20px;
  width: 100%;
  background: #F1F1F1;

  @include media.for-mobile {
    height: 40px;
  }
}

.searchTokenWrapper {
  position: relative;
  margin-bottom: 9px;

  &:before {
    width: 24px;
    height: 24px;
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5006 14.0006H14.7106L14.4306 13.7306C15.6306 12.3306 16.2506 10.4206 15.9106 8.39063C15.4406 5.61063 13.1206 3.39063 10.3206 3.05063C6.09063 2.53063 2.53063 6.09063 3.05063 10.3206C3.39063 13.1206 5.61063 15.4406 8.39063 15.9106C10.4206 16.2506 12.3306 15.6306 13.7306 14.4306L14.0006 14.7106V15.5006L18.2506 19.7506C18.6606 20.1606 19.3306 20.1606 19.7406 19.7506C20.1506 19.3406 20.1506 18.6706 19.7406 18.2606L15.5006 14.0006ZM9.50063 14.0006C7.01063 14.0006 5.00063 11.9906 5.00063 9.50063C5.00063 7.01063 7.01063 5.00063 9.50063 5.00063C11.9906 5.00063 14.0006 7.01063 14.0006 9.50063C14.0006 11.9906 11.9906 14.0006 9.50063 14.0006Z' fill='%234B564B'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 19px;
  }

  @include media.for-mobile {
    margin-top: 16px;
  }
}

.baseTokens {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.baseTokenButton {
  height: 40px;
  background: #F1F1F1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  width: 100%;

  img {
    width: 24px;
    height: 24px;
  }
}

.noSearch {
  margin-top: 42px;
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4 {
    margin-top: 10px;
    margin-bottom: 4px;
    color: colors.$text-secondary;
    @include mixins.t-body-24;
  }

  p {
    color: colors.$text-secondary;
    @include mixins.t-body-16;
  }

  text-align: center;

  svg {
    color: colors.$palette-green;
  }
}

.bigIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(311.09deg, #F5F3FC 0%, #F8FAFF 52.68%, #F6FDEF 99%);
  border-radius: 20px;
  width: 120px;
  height: 120px;
}
