@use "../../../styles/colors.module";

.dialogContainer {
  --transition-speed: 0.3s;
}

.dialog {
  background: colors.$background-primary;
  border-radius: 20px;
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity var(--transition-speed) ease;
  z-index: 1000;
  border: 1px solid colors.$border-primary;
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transition-speed) ease,
  visibility var(--transition-speed) ease;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 999;
}

.dialogContainer.open .drawer {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.dialogContainer.in.open {
  .backdrop {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
  }

  .dialog {
    opacity: 1;
  }
}
