@use "src/shared/styles/colors.module";
@use "src/shared/styles/media";

.roiDialog {
  width: 480px;

  @include media.for-mobile {
    width: 100%;
  }
}

.roiContent {
  padding: 40px;
}

.topStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topStatsContainer {
  display: grid;
  gap: 12px;
  margin-bottom: 20px;
}

.table {
  border: 1px solid colors.$border-primary;
  border-radius: 8px;
  margin-bottom: 20px;
}

.gridRows {
  display: grid;
  gap: 10px;
  padding: 20px;
}

.gridHeader {
  display: grid;
  grid-template-columns: 90px 110px 1fr;
  background: rgba(109, 163, 22, 0.20);
  border-radius: 8px 8px 0 0;
  height: 40px;
  padding: 0 20px;

  > div {
    display: flex;
    align-items: center;
  }
}

.gridRow {
  display: grid;
  grid-template-columns: 90px 110px 1fr;

  > div {
    display: flex;
    align-items: center;
  }
}

.flexEnd {
  justify-content: flex-end;
}

.list {
  display: grid;
  gap: 12px;

  > li {
    position: relative;
    padding-left: 16px;
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: colors.$palette-green;
      position: absolute;
      left: 0;
      top: 6px;
    }
  }
}
