@use "../../../styles/colors.module";
@use "../../../styles/mixins";

.swapCard {
  padding: 20px;
  background-color: colors.$background-secondary;
  border-radius: 8px;
}

.swapCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 24px;
}

//.cardContent {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//}

.tokenPicker {
  display: flex;
  align-items: center;
  gap: 10px;
}

.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: colors.$text-secondary;

  @include mixins.t-body-14;
}

.tokenButton {
  display: flex;
  align-items: center;
  gap: 10px;
}


.balanceBox {
  @include mixins.t-body-12;
  color: colors.$text-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
