@use "../../../shared/styles/colors.module";
@use "../../../shared/styles/mixins";

.externalLink {
  color: colors.$palette-green;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;

  @include mixins.t-body-16;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    display: block;
    background: colors.$palette-green;
    bottom: 0px;
    transition: 300ms;
  }

  &:hover:after {
    width: calc(100% - 24px);
  }
}
