@use "src/shared/styles/colors.module";
@use "src/shared/styles/mixins";
@use "src/shared/styles/media";

.awaitingApproveDialog {
  width: 480px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;

  @include media.for-mobile {
    width: 100%;
    padding: 24px;
  }
}

.text {
  display: flex;
  grid-gap: 4px;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkMark,
.checkMarkInner {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkMark {
  width: 110px;
  height: 110px;
  background-color: mixins.withOpacity(colors.$palette-green__rgb, 0.2);
}

.checkMarkInner {
  width: 80px;
  height: 80px;
  background-color: colors.$palette-green;
  color: colors.$palette-white;
}

