@use "src/styles/media";
@use "src/styles/colors.module";

.modalWrapper {
  position: relative;
  border-radius: 20px;
  background: colors.$background-primary;
  padding: 40px;
  width: 454px;
  min-height: 278px;
  @include media.for-mobile {
    padding: 26px 16px 16px;
    width: 100%;
    min-height: unset;
  }
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
