@use "../../../styles/colors.module";

.separateViewTabsList {

  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.mergedViewTabsList {
  display: flex;
}

.buttonViewTabsList {
  display: flex;
  //background: $basic-filling-primary;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 38px;
}

.defaultViewTabsList {
  display: flex;
}

.indicator {
  height: 2px;
  background-color: colors.$palette-green;
  transition-duration: 0.2s;
}

.spacer {
  height: 20px;
}
