@use "src/styles/colors.module";
@use "src/styles/media";

.langPickerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  @include media.for-mobile {
    display: flex;
    flex-direction: column;
  }
}

.langHeading {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: colors.$text-primary;
  text-align: center;
  margin-bottom: 28px;
}

.langButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 0 20px;
  width: 160px;
  border-radius: 8px;
  border: 1px solid colors.$border-primary;
  gap: 10px;
  font-size: 16px;
  line-height: 20px;
  color: colors.$text-primary;
  &:hover:not(.active) {
    border: 1px solid colors.$palette-green;
  }

  &.active {
    background: colors.$transparent-primary;
    border: 1px solid colors.$palette-green;
  }
}

.mobileLangButton {
  padding: 0 20px;
  height: 60px;
  width: 100%;
  border: 1px solid colors.$border-primary;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;

  &:hover:not(.active) {
    border: 1px solid colors.$palette-green;
  }

  &.active {
    background: colors.$transparent-primary;
    border: 1px solid colors.$palette-green;
  }
}

.langDialog {
  padding: 40px;
  border: 1px solid colors.$border-primary;

  @include media.for-mobile {
    padding: 16px;
    border: 0;
  }
}
