@use "src/styles/colors.module";

.carousel {
  //overflow: hidden;
  height: 200px;
  position: relative;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  position: relative;
  height: 200px;
}

.textPart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bannerImage {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 224px;
  width: 434px;
}

.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 14px;
  z-index: 3;
  gap: 8px;
}

.indicators > button {
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid colors.$palette-green;

  transition-duration: 0.3s;

}

.indicators > button.active {
  background-color: colors.$palette-green;
  width: 24px;
  border-radius: 20px;
}
