@function withOpacity($color, $opacity: 0.1) {
  @return rgba($color, $opacity);
}

@mixin t-body-12 {
  font-size: 12px;
  line-height: 14px;
}

@mixin t-body-14 {
  font-size: 14px;
  line-height: 18px;
}

@mixin t-body-16 {
  font-size: 16px;
  line-height: 26px;
}

@mixin t-body-20 {
  font-size: 20px;
  line-height: 32px;
}

@mixin t-body-24 {
  font-size: 24px;
  line-height: 32px;
}

@mixin t-body-28 {
  font-size: 28px;
  line-height: 32px;
}

@mixin t-body-32 {
  font-size: 32px;
  line-height: 32px;
}
