:root {
  --background-global: linear-gradient(311.09deg, #F5F3FC 0%, #F8FAFF 52.68%, #F6FDEF 99%);

  --background-primary: #FFFFFF;
  --background-secondary: #F1F1F1;

  --text-primary: #122110;
  --text-secondary: #4B564B;

  --border-primary: #D4DDD8;

  --hover-primary: #71AC0F;
  --hover-secondary: #E2E2E2;

  --palette-green: #6DA316;
  --palette-green-saturated: #588D00;

  --palette-violet: #716AC5;
  --palette-pink: #CA7DEF;
  --palette-red: #CD1515;
  --palette-orange: #ED962F;
  --palette-blue: #2F80ED;
  --palette-white: #FFFFFF;
  --palette-grey-light: #949494;

  --transparent-primary: rgba(109, 163, 22, 0.1);

  [data-color-theme="dark"] {
    --background-global: #101010;

    --background-primary: #212121;
    --background-secondary: #353535;

    --text-primary: #FFFFFF;
    --text-secondary: #AEAEAE;

    --border-primary: #404040;

    --hover-primary: #71AC0F;
    --hover-secondary: #585858;

    --palette-green: #7CB819;
    --palette-green-saturated: #588D00;
    --palette-violet: #716AC5;
    --palette-pink: #CA7DEF;
    --palette-red: #AD1313;
    --palette-orange: #E88B1F;
    --palette-blue: #1A70E4;
    --palette-white: #FFFFFF;
    --palette-grey-light: #787878;

    --transparent-primary: rgba(124, 184, 25, 0.1);
  }
}




