@use "../../../styles/media";
@use "../../../styles/colors.module";

.headerContent {
  background: colors.$background-primary;
  backdrop-filter: blur(4px);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1px solid colors.$border-primary;
  border-radius: 100px;
  margin-top: 20px;
}

.headerMenu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.headerSettings {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loading {
  background: colors.$background-secondary;
  border-radius: 8px;
  height: 40px;
  width: 171px;
}
