@use "../../../styles/colors.module";
@use "src/styles/media";

.dropdownWrapper {
  position: relative;
}

.dropdownButton {
  height: 40px;
  border-radius: 8px;
  background: colors.$background-secondary;
  padding: 0 12px 0 16px;
  font-size: 16px;
  line-height: 20px;
  color: colors.$text-primary;

  &:hover {
    background: colors.$hover-secondary;
  }
}

.dialogContainer {
  --transition-speed: 0.3s;
}

.networksList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.networkItem {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin: 8px 0;
  gap: 8px;
  white-space: nowrap;
  color: colors.$text-primary;

  &:hover {
    background: colors.$background-secondary;
    cursor: pointer;
  }

  &.active {
    color: colors.$palette-green-saturated;
    pointer-events: none;
  }
}

.networksDropdown {
  opacity: 0;
  position: absolute;
  background: colors.$background-primary;
  border: 1px solid colors.$border-primary;
  //box-shadow: 0 4px 0 colors.$border-primary;
  border-radius: 8px;
  padding: 4px 0;
  transition: opacity var(--transition-speed) ease;
  z-index: 1000;
}

.dialogContainer.in.open {
  .backdrop {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
  }

  .networksDropdown {
    opacity: 1;
  }

  .walletMenuDropdown {
    opacity: 1;
  }
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.pickedNetworkName {
  margin-left: 4px;
}

.expandArrow {
  transition-duration: 0.3s;
  transform-origin: center center;
  height: 24px;
  width: 24px;

  &.opened {
    transform: rotate(-180deg);
  }
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 999;
}
