@use "../../../styles/colors.module";
@use "../../../styles/mixins";
@use "src/styles/media";

.dialogContent {
  padding: 40px;

  @include media.for-mobile {
    padding: 16px;
  }
}

.dialogContainer {
  width: 480px;
  overflow: hidden;

  @include media.for-mobile {
    width: 100%;
  }
}

.tabContent {
  height: 286px;
}

.balances {
  border: 1px solid colors.$border-primary;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.balanceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: colors.$text-secondary;
}

.explorerLinkContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.explorerLink {
  display: flex;
  align-items: center;
  gap: 4px;
  color: colors.$palette-green;

  &:hover {
    text-decoration: underline;
  }

  svg {
    transform: rotate(-45deg);
  }
}

.noSearch {
  padding-top: 44px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4 {
    margin-top: 10px;
    margin-bottom: 4px;
    color: colors.$text-secondary;
    @include mixins.t-body-24;
  }

  p {
    color: colors.$text-secondary;
    @include mixins.t-body-16;
  }

  text-align: center;

  svg {
    color: colors.$palette-green;
  }
}

.bigIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(311.09deg, #F5F3FC 0%, #F8FAFF 52.68%, #F6FDEF 99%);
  border-radius: 20px;
  width: 120px;
  height: 120px;
}

.transaction {
  border-bottom: 1px solid colors.$border-primary;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-of-type {
    border-bottom: 0;
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;
}

.transactionsContainer {
  overflow: scroll;
  height: 327px;
}
