@use "../../../shared/styles/colors.module";

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition-duration: 0.2s;
  color: colors.$text-secondary;
  background-color: transparent;
  border-radius: 50%;

  &.menu {
    border-radius: 8px;
    background-color: colors.$background-secondary;
    color: colors.$text-secondary;

    &:hover {
      color: colors.$text-primary;
      background-color: colors.$hover-secondary;
    }
  }

  &.action {
    color: colors.$palette-green;
    background-color: colors.$background-secondary;

    &:hover {
      background-color: colors.$transparent-primary;
    }
  }

  &.social {
    color: colors.$text-secondary;
    border: 1px solid colors.$palette-green;

    &:hover {
      color: colors.$palette-green;
    }
  }

  &.default {
    color: colors.$palette-green;

    &:hover {
      background-color: colors.$transparent-primary;
    }
  }

  &.system {
    &:hover {
      background-color: colors.$background-secondary;
    }
  }
}

.readonly {
  pointer-events: none;
}
