@use "../../../styles/colors.module";

.circularProgress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.border {
  border-radius: 50%;
  border-left: 4px solid colors.$background-secondary;
  border-right: 4px solid colors.$background-secondary;
  border-bottom: 4px solid colors.$background-secondary;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-top: 4px solid colors.$palette-green;
  animation: spin 1s linear infinite;
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}

.linearPreloader {
  display: flex;
  align-items: center;
  gap: 5px;
}

.circle1, .circle2, .circle3 {
  display: block;
  background: colors.$palette-green;
  border-radius: 50%;
  width: 8px;
  height: 8px;

  &.white {
    background-color: colors.$palette-white;
  }
}

.circle1 {
  animation: flicker1 1.5s ease-in infinite;

}

.circle2 {
  animation: flicker2 1.5s ease-in infinite;

}

.circle3 {
  animation: flicker3 1.5s ease-in infinite;

}

@keyframes flicker1 {
  0% {
    opacity: 0.3;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes flicker2 {
  0% {
    opacity: 0.3;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.3;
  }
}



@keyframes flicker3 {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.3;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
