@use "../../../styles/colors.module";
@use "../../../styles/mixins";
@use "src/styles/media";

.infoRow {
  @include mixins.t-body-14;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: colors.$text-secondary;

  @include media.for-mobile {
    @include mixins.t-body-12;
  }
}

.value {
  color: colors.$text-primary;
}
