@use "src/styles/colors.module";

.metamaskImageWrapper {
  border-radius: 50%;
  background: #F5F7F9;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardWrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid colors.$border-primary;
  border-radius: 8px;
  align-items: center;
  padding: 0 10px 0 20px;
  height: 60px;
  color: colors.$text-primary;

  &:hover {
    border: 1px solid colors.$palette-green;
  }

  &.active {
    border: 1px solid colors.$palette-green;
    background: colors.$transparent-primary;
  }
}

.cardInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
