@use "src/styles/colors.module";
@use "src/styles/mixins";
@use "src/styles/media";

.slippageControls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 8px;

  @include media.for-mobile {
    grid-template-columns: 1fr 1fr 1fr 110px;
  }
}

.swapSettingsDialog {
  width: 550px;
  border-radius: 20px;
  gap: 10px;

  @include media.for-mobile {
    width: 100%;
  }
}

.slippageInput {
  width: 110px;
  height: 40px;
}

.swapSettingsDialogContent {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media.for-mobile {
    padding: 16px;
  }
}

.actionButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.tabButton {
  @include mixins.t-body-16;
  color: colors.$text-primary;
  border: 1px solid colors.$palette-green;
  border-radius: 8px;
  transition-duration: 0.2s;

  &:hover:not(.active) {
    background-color: colors.$transparent-primary;
  }

  &.active {
    pointer-events: none;
    background-color: colors.$palette-green;
    color: colors.$palette-white;
  }
}

.deadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deadlineInput {
  width: 110px;
}
