@use "../../../shared/styles/colors.module";

.backdrop {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 999;
}
//
//.dropDownListContainer {
//  position: absolute;
//  top: 200px;
//  left: 200px;
//  z-index: 1000;
//}

.dropDownList {
  margin: 0;
  font-weight: 500;
  padding: 8px 0;
  width: 100%;
  z-index: 2;
  background: colors.$background-primary;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: auto;
  scrollbar-width: none;
  border: 1px solid colors.$border-primary;

  //max-height: 335px;
  //
  &::-webkit-scrollbar {
    display: none;
  }
}

.listItem {
  list-style: none;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: colors.$text-primary;

  &.isActive {
    color: colors.$palette-green;
    pointer-events: none;
  }

  &:hover {
    background: colors.$background-secondary;
    cursor: pointer;
  }
}

.dialogContainer.open .drawer {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.dialogContainer.in.open {
  .backdrop {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
  }

  .dropDown {
    opacity: 1;
  }
}

.dialogContainer {
  --transition-speed: 0.3s;
}

.dropDown {
  border-radius: 8px;
  overflow: auto;
  position: fixed;
  opacity: 0;
  transition: opacity var(--transition-speed) ease;
  z-index: 1000;
  //background: $basic-filling-background;
  //border: 1px solid $basic-border-input;
}
