@use "src/styles/colors.module";

.tokenSelect {
  position: relative;
  width: 100%;
}

.tokensList {
  position: absolute;
  top: 45px;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: colors.$background-primary;
  border-radius: 8px;
  z-index: 10;

  max-height: 350px;
  overflow: scroll;
  padding: 10px 0;
  border: 1px solid colors.$border-primary;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 7px 20px;
  height: 40px;

  &:hover {
    background: colors.$hover-secondary;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.pickedTokenInfo {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    width: 24px;
    height: 24px;
  }
}

.iconWrapper {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.selectToken {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-radius: 8px;
  border: 1px solid colors.$border-primary;
  padding-left: 20px;
  padding-right: 16px;
  width: 100%;
}
