@use "../../../styles/colors.module";
@use "src/styles/media";

.menu {
  display: flex;
  gap: 6px;

  @include media.for-mobile {
    display: none;
  }
}

.navLink {
  color: colors.$text-primary;
  padding: 7px;

  &:hover {
    color: colors.$palette-green;
  }
}
