@use "src/styles/colors.module";
@use "src/styles/mixins";
@use "src/styles/media";

.swapHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings {
  display: flex;
  align-items: center;
  gap: 10px;

  @include media.for-mobile {
    gap: 0;
  }
}

.changeOrder {
  display: flex;
  justify-content: center;
}

.infoRow {
  @include mixins.t-body-14;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: colors.$text-secondary;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}


.bottomInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid colors.$border-primary;
  margin-top: 20px;
}

.priceContent {
  display: flex;
  align-items: center;
  gap: 4px;
}

.route {
  display: flex;
  align-items: center;
  gap: 4px;
}

.showInvertedButton {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  color: colors.$palette-green;
  transition-duration: 0.2s;

  svg {
    transform: rotate(90deg);
    transform-origin: center;
  }

  &:hover {
    color: colors.$palette-green-saturated;
  }
}

.priceContent {
  height: 24px;
}

.isNotSupported {
  text-align: center;
}
