@use "../../../shared/styles/mixins";
@use "../../../shared/styles/colors.module";

.copyContainer {
  width: 100%;
  padding: 17px 60px 17px 20px;
  border-radius: 8px;
  position: relative;
  height: 60px;
  white-space: nowrap;
  background-color: colors.$background-secondary;

  color: colors.$text-primary;

  &.button {
  }

  &.small {
    padding: 7px 62px 7px 22px;
    height: 38px;
  }
}

.copyButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  transition-duration: 0.2s;

  color: colors.$text-secondary;
  cursor: pointer;

  svg {
    transition-duration: 0.2s;
  }

  &:hover {
    cursor: pointer;
    //svg {
    //  color: colors.$hover-primary;
    //}
  }
}

.text {
  @include mixins.t-body-16;
  color: colors.$text-primary;
  opacity: 0;
}
