@use "../../../../shared/styles/media";
@use "src/shared/styles/colors.module";

.lastDayData {
  margin-top: 4px;
  margin-bottom: 20px;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$background-primary;
}

.chartContainer {
  position: relative;
  aspect-ratio: 9/5;

  @include media.for-mobile {
    height: unset;
    min-height: 200px;
  }
}
