@use "../../../styles/colors.module";
@use "../../../styles/mixins";

.button {
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  transition-duration: 0.2s;
  padding: 0 24px;
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    pointer-events: none;
  }

  &.fullWidth {
    width: 100%;
  }

  &.startIcon {
    padding-left: 16px;
  }

  &.endIcon {
    padding-right: 16px;
  }

  &.loading {
    pointer-events: none;
    .content {
      visibility: hidden;
    }
  }
}

.text {
  font-size: 16px;
  line-height: 20px;

  padding: 0;
  color: colors.$palette-green;

  &:hover {
    color: colors.$palette-green-saturated;
  }
}

.contained {
  @extend .button;
  background: colors.$palette-green;

  padding: 0 24px;
  border-radius: 70px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  color: colors.$palette-white;

  &:hover {
    background-color: colors.$hover-primary;
  }

  &[disabled] {
    background: colors.$palette-grey-light;
  }

  .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 900ms linear;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.popup {
  @extend .button;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$background-secondary;
  text-align: center;
  width: 100%;
  border-radius: 0 0 20px 20px;
  color: colors.$palette-green;
  position: relative;


  &:hover {
    background-color: colors.$hover-secondary;
  }

  &[disabled] {
    background: colors.$palette-grey-light;
  }

  .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 900ms linear;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.outlined {
  @extend .button;
  background: transparent;
  border: 1px solid colors.$palette-green;
  border-radius: 70px;
  color: colors.$text-primary;

  &:hover {
    //color: colors.$palette-green-saturated;
    background: rgba(109, 163, 22, 0.2);
  }

  &[disabled] {
    color: colors.$palette-grey-light;
    border-color: colors.$text-secondary;
  }

  &.active {
    pointer-events: none;
    background-color: colors.$palette-green;
    color: colors.$palette-white;
  }

  svg {
    color: colors.$palette-green;
  }

  &.error {
    border: 1px solid colors.$palette-red;
    &:hover {
      //color: colors.$palette-green-saturated;
      background: rgba(205, 21, 21, 0.1);
    }
    svg {
      color: colors.$palette-red;
      //transform: rotate(-180deg);
      transform-origin: center;
    }

    .ripple {
      background-color: rgba(205, 21, 21, 0.3);
    }
  }

  .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 900ms linear;
    background-color: rgba(109, 163, 22, 0.3);
  }
}

.large {
  height: 60px;
}

.small {
  height: 24px;
  border-radius: 4px;
  padding: 0 8px;

  @include mixins.t-body-12
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 4px;
}

.ripple {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 900ms linear;
  background-color: rgba(255, 255, 255, 0.4);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
