@use "src/shared/styles/media";
@use "src/shared/styles/colors.module";

.tabs {
  display: inline-flex;
  border: 1px solid colors.$border-primary;
  gap: 2px;
  padding: 1px;
  border-radius: 8px;
  margin-top: 22px;
}

.tab {
  height: 36px;
  padding: 0 16px;
  color: colors.$text-primary;
  border-radius: 6px;
  min-width: 105px;

  &.activeTab {
    background: colors.$palette-green;
    color: colors.$palette-white;
  }
}

.historyRows {
  @include media.for-mobile {
    max-height: 70vh;
    overflow: scroll;
  }
}
