@use "src/shared/styles/media";

.stakeLpTokensModal {
  width: 480px;
}

.content {
  padding: 40px 34px 43px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.stakeLpTokensModal {
  width: 480px;

  @include media.for-mobile {
    width: 100%;
  }
}

.content {
  padding: 40px 34px 43px;

  @include media.for-mobile {
    padding: 16px 16px 40px;
  }
}
