@use "src/styles/colors.module";
@use "src/styles/mixins";

.swapCard {
  padding: 20px;
  background-color: colors.$background-secondary;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.swapCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.partButtons {
  display: flex;
  gap: 10px;
}

//.cardContent {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//}

.tokenPicker {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tokenSelect {
  height: 38px;
  padding: 0 10px;
  background-color: colors.$background-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
}

.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: colors.$text-secondary;

  @include mixins.t-body-14;
}

.tokenButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.amountInput {
  width: 100%;
  padding-right: 120px;
  padding-left: 16px;
  height: 40px;
  background: colors.$background-primary;
  border: 1px solid colors.$border-primary;
  border-radius: 8px;
  outline: 0;

  &:active,
  &:focus {
    border: 1px solid colors.$palette-green;
  }
  //background: transparent;
  //text-align: right;
  //border: 0;
  //outline: none;
  //width: 100px;
}

.picker {
  position: absolute;
  right: 1px;
  z-index: 1;
  top: 1px;
}

.balanceBox {
  @include mixins.t-body-12;
  color: colors.$text-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
