@use "src/styles/colors.module";

.removeLiquidityDialog {
  width: 480px;
}

.switchWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.amountLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dialogBody {
  padding: 40px;
  height: 456px;
  overflow: scroll;
}

.percentageSettings,
.receiveBlock,
.pricesBlock {
  border: 1px solid colors.$border-primary;
  border-radius: 8px;
  overflow: hidden;
}

.receiveBlock,
.pricesBlock {
  margin-top: 20px;
}

.dialogFooter {
  padding: 20px 40px;
  border-top: 1px solid colors.$border-primary;
}

.percentageSettings {
  padding: 16px 20px 20px;
}

.greyHeader {
  background: colors.$background-secondary;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.blockRows {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blockRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressContainer {
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 20px;
  overflow: hidden;
  background-color: colors.$background-secondary;
}

.progressBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  &.green {
    background-color: colors.$palette-green;
  }

  &.purple {
    background-color: colors.$palette-violet;
  }

  &.pink {
    background-color: colors.$palette-pink;
  }
}
