@use "/src/shared/styles/colors.module";
@use "/src/shared/styles/media";

.dropDownContainer {
  z-index: 2;
}

.dropDownHeader {
  background: colors.$background-secondary;
  border: 1px solid colors.$border-primary;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0 8px 0 16px;
  position: relative;
  min-width: 180px;
  &:hover:not(.readonly) {
    cursor: pointer;
    background: colors.$hover-secondary;
  }

  @include media.for-mobile {
    min-width: 140px;
  }

  //&.isOpen {
  //  //border: 1px solid $basic-text-secondary;
  //}
}

.dropDownListContainer {
  position: relative;
}

.selectLabel {
  font-size: 16px;
  line-height: 22px;
  //color: $basic-text-main;
  margin-right: 20px;
}

.expandIconWrapper {
  transition-duration: 0.2s;
  position: absolute;
  right: 8px;
  top: calc(50% - 12px);
  transform-origin: center;
  //transform: translateY(-50%);
  height: 24px;
  width: 24px;

  svg {
    color: colors.$text-primary;
  }

  &.isOpen {
   transform: rotate(-180deg);
  }
}

.upperContainer {
  display: flex;
  align-items: center;
}

.placeholder {
  color: #666666;
}
