@use "src/styles/colors.module";

.tradeHistoryHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tableHeader {
  display: grid;
  grid-template-columns: 180fr 100fr 60fr 140fr 66fr 160fr 141fr;
  padding: 20px;
  background-color: colors.$background-secondary;
  border-radius: 10px;
}

.tableRow {
  display: grid;
  grid-template-columns: 180fr 100fr 60fr 140fr 66fr 160fr 141fr;
  padding: 20px;
}

.tableRows {
  display: flex;
  flex-direction: column;
}

.buy {
  color: colors.$palette-green-saturated;
}

.sell {
  color: colors.$palette-red;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
