//@use "src/styles/typography";
@use "../../../styles/colors.module";

.wrapper {
  color: colors.$palette-white;
  .checkboxInput:checked + .checkbox span:first-child {
    background: colors.$palette-green;
    border-color: colors.$palette-green;
  }
}

.checkboxInput {
  position: absolute;
  visibility: hidden;
}

.checkbox {
  user-select: none;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: flex;
}

.checkbox:not(:last-child) {
  margin-right: 6px;
}

.checkbox span {
  vertical-align: middle;
}

.checkbox span:first-child {
  position: relative;
  flex: 0 0 24px;
  width: 24px !important;
  height: 24px !important;
  border-radius: 2px;
  transform: scale(1);
  border: 1px solid colors.$border-primary;
  background-color: transparent;
  transition: all 0.2s ease;
  margin-right: 8px;
}

.checkbox span:first-child svg {
  position: absolute;
  top: -1px;
  left: -1px;
  transition: all 0.2s ease;
}

.checkbox span:last-child {
  line-height: 24px;
}

.checkboxInput + .checkbox span:first-child svg {
  position: absolute;
  pointer-events: none;
  user-select: none;
  opacity: 0;
}

.checkboxInput:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
  opacity: 1;
}
