@use "src/styles/media";

.voteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media.for-mobile {
    flex-direction: column;
    gap: 10px;
  }
}

.voteButtons {
  display: flex;
  align-items: center;
  gap: 10px;

  @include media.for-mobile {
    width: 100%;
  }
}

.soyLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @include media.for-mobile {
    background: #F1F1F1;
    border-radius: 30px;
    width: 100%;
  }
}

.soyIcon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #F1F1F1;
}
